.dropdown {
  margin-top: 32px;
  min-width: 12rem;
  max-width: 14rem;

  .is-search-selected {
    background-color: $grey-lighter;
  }

  &::before {
    content: attr(title);
    position: absolute;
    top: 10px;
    left: 16px;
    z-index: 1;
    font-size: 1rem;
    transition: all 0.3s;
  }

  &.has-selected::before {
    font-size: 12px;
    top: -20px;
    left: 4px;
  }

  .dropdown-scroll {
    overflow: auto;
    max-height: 200px;
  }

  .dropdown-input {
    margin-left: 4px;
    width: calc(100% - 8px);
  }
  .fa-angle-down {
    transition: transform 0.2s ease-in-out;
  }

  .dropdown-trigger, .button {
    width: 100%;
  }

  .button {
    text-align: left;
    white-space: normal;
    height: auto;
    .icon {
      margin-left: auto !important;
    }
  }
}

.is-active .fa-angle-down {
  transform: rotate(-180deg);
}
