$spacings: (
  0: 4px,
  1: 8px,
  2: 12px,
  3: 16px,
  4: 20px,
  5: 24px,
  6: 28px,
  7: 32px,
  8: 36px,
  9: 40px,
  10: 44px,
  11: 48px
);

@each $index, $value in $spacings {
  .has-padding-#{$index}        { padding: $value }
  .has-padding-top-#{$index}    { padding-top: $value }
  .has-padding-right-#{$index}  { padding-right: $value }
  .has-padding-bottom-#{$index} { padding-bottom: $value }
  .has-padding-left-#{$index}   { padding-left: $value }

  .has-margin-#{$index}         { margin: $value }
  .has-margin-top-#{$index}     { margin-top: $value }
  .has-margin-right-#{$index}   { margin-right: $value }
  .has-margin-bottom-#{$index}  { margin-bottom: $value }
  .has-margin-left-#{$index}    { margin-left: $value }
}

.has-margin-left-auto {
  margin-left: auto;
}

.has-margin-top-zero    { margin-top: 0      !important; }
.has-margin-right-zero  { margin-right: 0    !important; }
.has-margin-bottom-zero { margin-bottom: 0   !important; }
.has-margin-left-zero   { margin-left: 0     !important; }

.has-padding-top-zero    { padding-top: 0    !important; }
.has-padding-right-zero  { padding-right: 0  !important; }
.has-padding-bottom-zero { padding-bottom: 0 !important; }
.has-padding-left-zero   { padding-left: 0   !important; }

.has-margin-right-auto {
  margin-right: auto;
}

.is-absolute {
  position: absolute;
}

.is-full-width {
  width: 100%;
}

.has-no-border {
  border-style: none !important;
}

.is-flex-end {
  justify-content: flex-end !important;
}

.is-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-size-0 {
  font-size: 4.5rem;
}

.has-items-center-right {
  display: flex !important;
  align-items: center;
  justify-content: flex-end;
}

.has-items-center {
  display: flex !important;
  align-items: center;
}

.has-margin-left-auto {
  margin-left: auto;
}

.has-right-zero {
  right: 0;
  left: unset !important;
}

.is-borderless {
  border: none !important;
}

.is-paddingless-sides {
  padding-left:  0 !important;
  padding-right: 0 !important;
}

.has-child-separator {
  &:not(:last-child):after {
    content: "";
    border-top: solid 2px $white-ter;
    display: block;
    padding: map-get($spacings, 1) 0;
    margin-top: map-get($spacings, 3);
  }
}

.column {
  &.is-aligned-end {
    display: flex !important;
    align-items: flex-end !important;
  }
}

.is-overflow-visible {
  overflow: visible;
}

.has-text-format {
  white-space: break-spaces;
}
